.minecraft/backups/*
.minecraft/cachedImages/*
.minecraft/coremods/*
.minecraft/lightspeed-cache/*
.minecraft/chiselsandbits/*
.minecraft/ESM/*
.minecraft/local/*
.minecraft/logs/*
.minecraft/saves/*
.minecraft/not-enough-crashes/*
.minecraft/schematics/*
.minecraft/screenshots/*
.minecraft/server-resource-cache/*
natives/*




*.properties
*.ser
.minecraft/config/voicechat/username-cache.json
.minecraft/usercache.json
.minecraft/config/oculus.properties
